/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

/*xxxxxxxxxxxxxxxxxxxxxxxxxxxFIN DE RESETxxxxxxxxxxxxxxxxxxxxxxxxx*/

/* COPY/COLE 

font-family: 'Lobster', cursive;
font-family: 'Open Sans Condensed', sans-serif;
<i class="fas fa-home"></i>
<i class="far fa-calendar-alt"></i>
<i class="fas fa-book"></i>
<i class="far fa-image"></i>
<i class="fas fa-envelope"></i>
submit : #a9acb3

COPY/COLE  */

/*GLOBAL*/

table, form { width: 90%; 
	margin: 0 auto;
}

h1 { font-size: 3.6em; 
	margin-top: 120px;
}

header, h2, th { font-family: 'Lobster', cursive; 
	text-align: center;
	color: white;
}

h2 { display: ;
	color: #344a61;
	font-size: 2em;
	margin: 40px auto;
 }

a { text-decoration: none; 
	color: grey;
}

legend { font-family: 'Open Sans Condensed', sans-serif;
	text-align: center;
	font-size: 1.5em;
 }

table tr:nth-last-child(odd){ background: #f2f2f2; }

tr { padding: 25px 0 25px 0; }

table, td { border: 1px lightgrey solid; }

td { text-align: center;
padding: 15px 0 15px 10px; }

th { background: #a9acb3;
	padding: 30px 0 20px 0;
	font-size: 1.6em; 
	padding-top: 15px;
	padding-left: 30px;
	}

fieldset { background: #e5e6e8;
	padding: 15px 0 15px 0;
	margin-bottom: 40px;
}

input { margin: 30px 30px 30px 5px;
 }

select { margin: 30px;
	width: 95%;
	padding: 10px;
	font-size: 1em;
 }

main { font-family: verdana; 
	margin-top: 40px;
}

/* HEADER */

header { height: 690px;
	background-image: url("../img/fond.jpg");
	background-size: cover;
	background-position: center;
		text-shadow: 1px 1px 10px black;
 }

nav {background-color: rgba(255, 255, 255, 0.2);

}

.fas, .far { display: block; }

nav a { display: inline-block;
	font-size: 1.5em;
	color: white;
	margin: 50px;
 }

em { display: inline-block;
	width: 100%;
	padding: 10px;
	background: rgba(255, 255, 255, 0.1); 
	font-size: 1.2em;
	padding-top: 10px;
}

span { text-transform: uppercase; }

/* MAIN */

table { margin: 30px auto;
 }

th, td:first-child { text-align: left; }

form { text-align: center;
 }

form:nth-child(4n) { height: 140px; 
}

fieldset + fieldset + fieldset + fieldset { margin-bottom: 25px; }

#prenom, #nom, #mail { border: none;
	border-bottom: solid black 1px;
	background: #e5e6e8;
	transition: all 0.7s ease;
 }

#prenom:focus, #nom:focus, #mail:focus { background: #a9acb3;
	outline: none;
	border-bottom: none;
	padding: 3px;
 }

#envoyer { border: none;
	background: #a9acb3; 
	height: 40px;
	width: 110px;
	border-radius: 15px 0 15px 0;
	color: white;
	font-size: 1em;
	margin: 0 auto;
	transition: all 0.2s ease-in;
} 

#envoyer:hover { box-shadow: 2px 2px 5px grey; }

small { display: block;
	font-family: 'Open Sans', sans-serif;
	height: 50px;
	padding-top: 20px;
	margin-top: 25px;
	text-align: center;
	color: white;
	font-size: 0.9em;
	background: #a9acb3; }